node_modules
dist
dist/types
.turbo

# local env files
.env*.local
.env*.production
copilot-instructions.md
copilot-instructions.v1.md
copilot-instructions.v2.md
copilot-instructions.v3.md
copilot-instructions.bak.md
11copilot-instructions.md
instructions